
 .lista{
     width: 100%;
 }
 .item-1 img{
 width: 100%;
 }
 .item-2 p{
     font-size: 50%;
     
 }
 .item-2{
    width: 4%;
     
 }
 .item-3{
     width: 6%;
      
  }
 .item-3 p{
     font-size: 50%;
 }
 .item-4 p{
     font-size: 50%;
 }
 .item-5 p{
     font-size: 50%;
 }
 .item-6 p{
     font-size: 50%;
 }
 .item-7 button{
     width: 100%;
 }
 .item-8{
     width: 2%;
 }
 .item-9{
     width: 2%;
 }
 .p-sumate{
     font-size: 45%;
     word-wrap: break-word;
 }
 .container{
     width: 90%;
     height: 10%;
  
 }
 .slider{
     width: 100%;
 }
 .menu-slide{
     width: 100%;
 }
 .servicios-1{
     width: 100%;
 }
 .servicios-2{
    width: 100%;
}
.carrusel{
    width: 100%;
    height: 100%;
}

.container{
    margin: auto;
    background-color: #35979bb2;
    width: 70%;
    margin-top: 1%;
   
}
.slider{
    height: 9rem;
   
}
.menu-slide{
    margin-top: 0%;
    padding: 0;
    width: 100%;
    padding-top: 0px;

}
.li-slider{
  width: 100%;
    background-color: salmon;
   
}

.lista .item-1{
    margin: 0;
    padding-left: 0px;
    float: left;
    width: 10%;
}
.lista{
    margin-left: 0px;
    padding-left: 0px;
}
.menu{
    margin: 0px;
    width: 100%;
    display: none;
}
.item-2{
    font-size: 80%;
}
.video{
    width: 100%;
}
.planes{
    width: 100%;
}
.planes-1{
    width: 45%;
}
.planes-2{
    width: 45%;
}
.titulo-plan{
    font-size: 100%;
}
.boton{
    margin-left: 25%;
}



/*inicio menu 2*/



/*Estilos para el encabezado*/
.header{
    width: 100%;
    height: 100px;
    position: fixed;
    top: 0;left: 0;
}
.container{
    width: 90%;
    max-width: 400px;
    margin: auto;
}
.container .btn-menu, .logo{
    float: left;
    line-height:100px;
}
.container .btn-menu label{
    color: red;
    font-size: 30px;
    cursor: pointer;
}
.logo h1{
    color: #fff;
    font-weight: 400;
    font-size: 15px;
    margin-left: 20%;
    text-align: center;
   
}
.container .menu{
    float: right;
    line-height: 100px;
}
.container .menu a{
    display: inline-block;
    padding: 15px;
    line-height: normal;
    text-decoration: none;
    color: #fff;
    transition: all 0.3s ease;
    border-bottom: 2px solid transparent;
    font-size: 15px;
    margin-right: 5px;
}
.container .menu a:hover{
    border-bottom: 2px solid #c7c7c7;
    padding-bottom: 5px;
}
/*Fin de Estilos para el encabezado*/

/*Menù lateral*/

.container-menu{
    position: absolute;
    background: rgba(0,0,0,0.5);
    width: 100%;
    height: 100vh;
    top: 0;left: 0;
    opacity: 0;
    visibility: hidden;

}
#btn-menu:checked ~ .container-menu{
    opacity: 1;
    visibility: visible;
}
.cont-menu{
    width: 100%;
    max-width: 250px;
    background: #1c1c1c;
    height: 80vh;
    position: relative;
    transition: all 500ms ease;
    transform: translateX(-100%);
    z-index: 1;
}
#btn-menu:checked ~ .container-menu .cont-menu{
    transform: translateX(0%);
}
.cont-menu nav{
    transform: translateY(20%);
}
.cont-menu nav a{
    display: block;
    text-decoration: none;
    padding: 20px;
    color: white;
    border-left: 5px solid transparent;
    transition: all 400ms ease;
    position: relative;
    
}
.cont-menu nav a:hover{
    border-left: 5px solid #c7c7c7;
    background: #1f1f1f;

}
.cont-menu label{
    position: absolute;
    right: 5px;
    top: 10px;
    color: #fff;
    cursor: pointer;
    font-size: 18px;
}

.container-menu{
    display: block;
}
.cont-menu{
    display: block;
}
.container-menu{
    display: block;
}
#checkbox{
    display: block;
}
header{
    display: block;
}

.checker{
    display: block;
}
/*Fin de Menù lateral*/
.rrss{
    width: 5%;
}

.footer{
    width: 15%;
}